/* Media queries */

@media screen and (min-width: 0px) and (max-width:480px) {

    .list{
        display: none;
    }

    input[type="search"]{
        display: none;
    }

    #menu-btn{
        display: block;
    }
    
    #add-to{
        display: block;
    }
}