/* Media queries */

@media screen and (min-width: 0px) and (max-width:480px) {

    .list{
        flex-direction: column;
        align-items: flex-start;
        border: 2px solid black;
        background-color: greenyellow;
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100vh;
    }
    
    .list2{
        display: none;
    }
    .inner-first>ul>li{
        height: auto;
    }

    #studio{
        display: none;
    }
    input[type="search"] {
        display: none;
    }

    #menu-btn {
        display: block;
    }

    #add-to {
        display: block;
    }

    .text-des-2 {
        width: 100%;
        height: 40px;
        font-size: 10px;
        letter-spacing: 4px;
        box-sizing: border-box;
        padding: 15px 0px 30px 22px;
        color: #3e4152;
    }

    .description-outer-box{
        padding: 0px 15px 0px 10px;
    }
    .description-inner-box{
        flex-direction: column;
    }
    .box-first > .box-inside > .links{
        display: none;
    }
    .box-second > .links{
        display: none;
    }
    .downlod-img{
        display: none;
    }

    .shopping-logo > p {
        display: none;
    }

    .shopping-logo{
        height: 58%;
    }

    #search-icon{
        position: static;
        margin-left: 0px;
    }

    .shopping-move{
        gap: 10px;
    }

    .inner-second{
        gap: 8px;
    }

    .container{
        justify-content: space-between;
    }

    .outer-first{
        padding: 0px 10px;
    }

    
 
}