/* Media queries */

@media screen and (min-width: 0px) and (max-width:480px) {

    .list {
        display: none;
    }

    input[type="search"] {
        display: none;
    }

    #menu-btn {
        display: block;
    }

    #add-to {
        display: block;
    }

    .text-des-2 {
        width: 100%;
        height: 40px;
        font-size: 10px;
        letter-spacing: 4px;
        box-sizing: border-box;
        padding: 15px 0px 30px 22px;
        color: #3e4152;
    }

    .description-outer-box{
        padding: 0px 15px 0px 10px;
    }
    .description-inner-box{
        flex-direction: column;
    }
    .box-first > .box-inside > .links{
        display: none;
    }
    .box-second > .links{
        display: none;
    }
    .downlod-img{
        display: none;
    }
}